@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #ff5311;
    --color-base: #ff8a5e;
    --color-secondary: #11bdff;
    --color-tertiary: #91e0ff;
    --shadow: 2px 3px 15px rgba(0, 0, 0, 0.7);
}


* {
    box-sizing: border-box;
    background-color: var(--color-tertiary);
    margin: 0;
    padding: 0;
}

html {
    background-image: url(./image/menu_inteligente.png);
}

body {
    background-image: url(./image/menu_inteligente.png);
    color: black;
    font-family: 'Mukta', sans-serif;
    background-color: transparent;
    background-image: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

header h3, header h1 {
    background: none;
    text-align: center;
    text-shadow: var(--shadow);
}

.header2 {
    display: flex;
    justify-content: center;
    background: none;
    margin-top: 1.5rem;
}

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.ejemplo {
    all: unset
}

.cards-menu-ex {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
}

.cards-menu-ex h3 {
    background: none;
}

.card-menu-ex , .card-menu-ex div, .card-menu-ex h3, .card-menu-ex p, .card-menu-ex img{
    background: none;
}

.card-menu-ex {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 1rem;
    border-radius: 1rem;
    border: solid 1px var(--color-primary);
    box-shadow: var(--shadow);
}

.card-menu-ex img {
    width: 100%;
    max-height: 15rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
}

.card-menu-ex h3, .card-menu-ex p {
    padding: 0 1rem ;
}

.card-menu-ex h3 {
    color: var(--color-primary);
    font-weight: 800;
}

.card-menu-ex div a {
    float: right;
    margin: .5rem;
    padding: .5rem;
    border-radius: .7rem;
    background-color: #11BDFF;
    text-decoration: none;
    color: white;
}

.grid-menu-ex {
    display: grid;
    background: none;
}

@media (min-width: 700px) {
    .grid-menu-ex {
        grid-template-columns: auto auto auto;
    }

}

.image-block {
    margin-top: 1rem;
    background-image: url(./image/menu_inteligente.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-block img {
    width: 100%;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    background-color: white;
    border-radius: 30px;
    box-shadow: var(--shadow);
    width: 80%;
}

.img-container img {
    background-color: transparent;
    width: 80%;
}

.descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
}

.descripcion p{
    padding: 1rem;
    background-color: white;
    border: solid 0.1rem var(--color-base);
    box-shadow: var(--shadow);
    border-radius: 30px;
    margin: 2rem;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.grid-section {
    color: var(--color-primary);
    max-width: 1400px;
    padding: 0;
    margin: 0 auto;
    background: transparent;
    position: relative;
}

.cards {
    display: grid;
    grid-auto-columns: 100%;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    padding: 1rem;
    list-style: none;
    overflow-x: scroll;
    background: transparent;
    scroll-behavior: smooth;
}

#scroll-der {
    width: 3rem;
    height: 3rem;
    color: rgb(155, 155, 155);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border: none;
    position: absolute;
    top: 50%;
    right :0;
    z-index: 1;
    box-shadow: var(--shadow);
    background: none;
}

#scroll-der i {
    background: none;
    font-size: 1.5rem;
}

#scroll-izq {
    width: 3rem;
    height: 3rem;
    color: rgb(155, 155, 155);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border: none;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    box-shadow: var(--shadow);
    background: none;
}

#scroll-izq i {
    background: none;
    font-size: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border: solid 0.1rem var(--color-base);
    box-shadow: var(--shadow);
    border-radius: 30px;
    padding: 1rem;
    scroll-snap-align: start;
    transition: all 0.2s;
    width: 99%;
}

.grid-item {
    margin: 2rem 0;
    max-width: 85%;
    background: none;
}

.card-link-wraper {
    margin-top: 0;
    align-items: end;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    background: white;
}

.card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--color-secondary);
    padding: .5rem 1rem;
    border-radius: .7rem;
    transition: background 0.2s;
}

.cards::-webkit-scrollbar {
    height: 12px;
}

.cards::-webkit-scrollbar-thumb, .cards::-webkit-scrollbar-track {
    border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

.cards::-webkit-scrollbar-track {
    background: #edf2f4;
}

h2 {
    width: 100%;
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-primary);
    background-color: white;
}

h4 {
    font-size: 1.4rem;
    font-weight: 800;
    color: rgb(56, 56, 56);
    background-color: white;
}

.grid-item p {
    text-align: justify;
    color: gray;
    font-weight: 300;
    background-color: white;
}

.precio {
    display: block;
    font-size: 2rem;
    font-weight: 800;
    text-align: end;
    background-color: white;
}

.theme-btn {
    top: 14.5%;
    right: 3%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color:white;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.theme-btn a {
    background-color: white;
}

.theme-btn i {
    background-color: white;
    margin: 0;
    font-size: 2rem;
    color: green;
    pointer-events: none;
}

.no-back{
    background: none;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-evenly;
    background-color: #ebebeb;
    border-top: 1px solid #ccc;
    padding: .5rem;
  }

footer p {
    background-color: #f2f2f2;
}

@media (min-width: 500px) {
    .cards {
        grid-auto-columns: calc(25rem - 10px);
        grid-column-gap: 20px;
    }
}

@media (min-width: 700px) {
    .cards {
        grid-auto-columns: calc(35rem - 20px);
        grid-column-gap: 3rem;
    }

    .img-container {
        width: 40%;
    }

    .image-block img {
        width: 800px;
        border-radius: 3rem;
        box-shadow: var(--shadow);
    }
}

@media (min-width: 1100px) {
    .cards {
        grid-auto-columns: calc(45rem - 30px);
        grid-column-gap: 40px;
    }
}

footer a {
    background: none;
    text-decoration: none;
    color: black;
}

footer i {
    background: none;
    font-size: 2rem;
    color: #11BDFF;
}